# DATABASE_URL=postgresql://user:password@localhost:5432/aws_listing_migration
DATABASE_URL=postgresql://postgres:fkjewbfihebyfg8347r79ry9f@db.ffqwrxqqmedlqebgvvqs.supabase.co:5432/postgres
API_URL=http://localhost:3001
NEXT_PUBLIC_API_URL=http://localhost:3001

# Future integrations. Do not use these in this PoC.
STRIPE_SECRET_KEY=
DOCUSIGN_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
